
.madimi-one-regular {
	font-family: "Madimi One", sans-serif;
	font-weight: 400;
	font-style: normal;
  }
.acme-regular {
	font-family: "Acme", sans-serif;
	font-weight: 400;
	font-style: normal;
  }
  
  
html, body, #home {
	height: 100%;
	overflow-x: hidden;
}

body {
	background: url(images/check.png);
	background-attachment: fixed;
	font-family:"Madimi One";
	letter-spacing:3%;
	font-size:medium;
	font-weight: bold;
    background-repeat:no-repeat;
    background-size:200vh;
}


nav.navbar-transparent {
	padding: 15px 0px;
	background: rgba(0,0,0,0.6);
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar-light .navbar-nav .nav-link {
	color: #FCCFCE;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #9bf0e1;
}

.navbar-light .navbar-toggler {
    color:#DF6077;
    border-color:#DF6077;
}

.divider {
	width: 1px;
	background: white;
	margin: 12px 15px;
}


.cover {
	text-align: center;
}

.btn-custom {
	color: white;
	border-radius: 500px;
	-webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
    padding: 10px 20px;
}

.btn-purple {
	background:#DF6077;
}

.btn-purple:hover {
	background:lightpink;
	color: purple;
}

.btn-white {
	border: 2px solid white;
}

.btn-white:hover {
	background-color: white;
	color: black;
}

.carousel-control-next, .carousel-control-prev {
	width: 5%;
}


.box {
	padding-top: 20px;
	padding-bottom: 20px;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#services {
	background:#FFE5B4;
}

#features {
	color: #DF6077;
    font-size: 20px;
    font-weight: bolder;
}

#services h2, h3 {
	color:#1F2833;
}

#features h2 {
	color: white;
}

#features h3 {
	color: #9bf0e1;
}

.albums {
	padding: 10px 0;
}

 #user .container {
	padding-top:2px;
	width: 100%;
	min-height: 100vh;
	background:none;
	display:flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 25px;
	
  }
  
  .drop {
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	position: relative;
	width: 350px;
	height: 350px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05),
	  25px 35px 20px rgba(0, 0, 0, 0.05),
	  25px 30px 30px rgba(0, 0, 0, 0.05),
	  inset -20px -20px 25px rgba(255, 255, 255, 0.9);
	transition: 0.5s ease-in-out;
  }
  
  .drop:nth-child(1) {
	border-radius: 49% 51% 70% 30% / 30% 30% 70% 70%;
  }
  
  .drop:nth-child(2) {
	border-radius: 49% 51% 41% 59% / 52% 30% 70% 48%;
  }
  
  .drop:nth-child(3) {
	border-radius: 76% 24% 40% 60% / 40% 69% 31% 60%;
  }
  
  .drop:hover {
	border-radius: 50%;
  }
  
  .drop::before {
	content: '';
	position: absolute;
	top: 60px;
	left: 85px;
	width: 35px;
	height: 35px;
	background: #fff;
	border-radius: 50%;
	opacity: 0.5;
  }
  
  .drop::after {
	content: '';
	position: absolute;
	top: 100px;
	left: 110px;
	width: 15px;
	height: 15px;
	background: #fff;
	border-radius: 50%;
	opacity: 0.7;
  }
  
  .drop .content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 25px;
	text-align: center;
	padding-inline: 50px;
  }
  
  .drop .content h2 {
	position: relative;
	width: 80px;
	height: 80px;
	
	border-radius: 50%;
	
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	color: var(--color);
  }
  
  .drop .content a {
	position: relative;
	padding: 10px 25px;
	background: var(--color);
	color: #fff;
	border-radius: 25px;
	font-weight: 500;
	text-decoration: none;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
	opacity: 0.75;
	transition: 0.5s;
  }
  
  .drop .content a:hover {
	cursor: pointer;
	opacity: 1;
  }
  .drop .content a::before {
	content: '';
	position: absolute;
	top: 5px;
	left: 50%;
	transform: translateX(-50%);
	width: 25%;
	height: 5px;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	transition: 0.5s;
  }
  .drop .content a:hover::before {
	transform: translateX(-50%) translateY(28px);
	width: 65%;
  }
  span.emoji {
	font-size: 80px;
	vertical-align: middle;
	line-height: 2; 
  }
  

/* Footer
-----------------------------*/
footer {
	background: #000;
	padding: 50px 0px 20px 0px;
	position: relative;
}

footer h4 {
	color: #919496;
	font-size: 0.8em;
	text-transform: uppercase;
}

footer .navbar-nav a {
	color: white;
	font-size: 0.8em;
}

footer .navbar-nav a:hover {
	color: #9bf0e1;
	text-decoration: none;
}

footer ul {
	list-style: none;
}

footer ul li {
	float: right;
	margin: 0 5px;
}

/* Typography
-----------------------------*/
h1 {
	font-weight: 900;
	letter-spacing: -0.05em;
	margin-bottom: 50px;
	color:black;
}

h2 {
	font-size: 3em;
	font-weight: 700;
	letter-spacing: -0.04em;
}

h3 {
	font-size: 2em;
	font-weight: 700;
	letter-spacing: -0.04em;
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	body{
		background-image: url(images/Beige\ Brown\ Minimal\ Organic\ Creative\ Project\ Presentation.png);
	}
	.container .box{
		display:list-item;
	}
	.btn-custom {
		margin: 10px 15px;
		font-size: 1em;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	h1 {
		font-size: 3em;
	}
	.btn-custom {
		margin: 10px 15px;
	}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	h1 {
		font-size: 4em;
	}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	h1 {
		font-size: 5em;
	}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	h1 {
		font-size: 6em;
	}
}


